.buttonpage2-div2{
    margin-top: 40px;
    
}
.buttonpage2-div2 > button{
    padding: 15px 40px;
    background-color: #F7F8FC;
    border: 2px solid #f9c741;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 1s;
    
}
.buttonpage2-div2 > button:hover{
 background-color: #f9c741;
}
.newAddedImg{
    margin-top: 40px;
    width: 100%;
    height: 300px;
   
}
.secondaddedimage{
    width: 100%;

}
.connections-div {
    border: none !important;
}
.howBtn > button{
    border: 2px solid #f9c741;
    background-color: transparent;
}
header{
    position: relative;
   
}
.ulistinner{
    margin-right: 200px;
}

.hoverDiv{
    width: 500px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 45%;
}

.headerText{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #030147;
}
.innerHover{
    margin-top: 10px;
    text-align: left;
}
.innerHover > span{
 font-size: 0.6rem;
 padding: 0;
 margin: 0;
} 
.innerHover > p{
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
 .happyDiv-card{
     margin-top: 200px;
 }
 #happydiv{
     margin-top: 0px !important;
 }
 #happydiv{
     margin-top: 0
 }
 
}